body{
    font-family: 'Bona Nova', serif;
    margin: 0px;
}
.orange{
    color: orange;
}
.me{
    display: flex;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

    
}
h1{
    font-size: 50px;
}
.font-size{
    width: 50%;
    padding-left: 5%;
}
.font-size img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(salmon,orange);
    color: white;
    padding: 10px 40px;
    border-radius: 10px
}
.margin{
    margin-top: 70px;
    display: flex;
}
.dream{
    width: 50%;
    padding-left: 5%;
}
.dream img{
    width: 70%;
}